div{
    text-align: center;
    
    height: 200px;
    background-color: rgb(138, 133, 133);
    margin-top: 70px;
    clear: both;
    margin-left: 25%;
    margin-right: 25%;
    font: normal 20pt Arial;
    color: cornsilk;
    }